body{
    display: flex;
    justify-content: center;
    align-content: center;
    
    background-image: linear-gradient(orange,white);
}
#wrapper{  font-family: verdana;
            font-weight: 600;
            display: flex;
            justify-content: center;
            align-content: center;
          
}
    
#login{
        border: 2px solid black;
       border-radius: 25px 25px 25px 25px;
       
       background-color: #ffb4a4;
       height: 500px;
       width:400px;
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       text-align: center;
    
}

button {
       border: 2px solid pink;
       border-radius: 50px;
       color: white;
       margin-top: 20px;
       background-color:#ff4d4d;
       width: 80%;
        height: 5%;
}
button:hover {cursor:pointer;
              box-shadow: 2px 2px black; }

input[type="text"]
{ width: 50%;
    height: 5%; 
    border: 2px solid #ff4d4d;            }

input[type="password"]
{    border: 2px solid #ff4d4d;
    width: 50%;
    height: 5%;
}
      
               